PORT=8000
MONGODB_URL=mongodb+srv://db_user:eMwidiowinsl@cluster0.tavmgvg.mongodb.net
REDIS_URL=redis://localhost:6379

HOST_APP_PASSWORD=lewjoij dsjvoic  #get this from gmail account
HOST_GMAIL=mymail@gmail.com