GOOGLE_API_KEY=AQ.Ab8RsdfdssdgxOjsJxnuOfQEr3vw3PD-18hAVmoH_5g
GROQ_API_KEY=gsk_yTtr9i3dsadsfGdyb3FYsm0ID3IVFzIutB2gS5swikrz
TAVILY_API_KEY=tvly-dev-maCEVddbdXijhelTe59zIs
PORT=4000
QDRANT_URL="http1f9afb6.us-east-2-0.aws.cloud.qdrant.io"
QDRANT_API_KEY="eyJhbG4"